<div
  id="add-task-modal"
  class="hs-overlay hidden size-full fixed top-0 start-0 z-80 overflow-x-hidden overflow-y-auto pointer-events-none"
  role="dialog"
  tabindex="-1"
  aria-labelledby="add-task-modal-label"
>
  <div
    class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-56px)] flex items-center"
  >
    <div
      class="w-full flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl pointer-events-auto dark:bg-neutral-800 dark:border-neutral-700 dark:shadow-neutral-700/70"
    >
      <div
        class="flex justify-between items-center py-3 px-4 border-b border-gray-200 dark:border-neutral-700"
      >
        <h3
          id="add-task-modal-label"
          class="font-bold text-gray-800 dark:text-white"
        >
          Add new task
        </h3>

        <button
          type="button"
          class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600"
          aria-label="Close"
          data-hs-overlay="#add-task-modal"
        >
          <span class="sr-only">Close</span>
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
      <form
        [formGroup]="addTaskFormGroup"
        class="p-4 overflow-y-auto flex flex-col gap-y-3"
      >
        <div class="space-y-3">
          <input
            autofocus
            name="title"
            type="text"
            aria-describedby="title"
            formControlName="title"
            class="py-2.5 sm:py-3 px-4 block w-full border-gray-200 border rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            placeholder="Task title"
          />
        </div>
        <div class="space-y-3">
          <input
            name="subtitle"
            type="text"
            aria-describedby="subtitle"
            formControlName="subtitle"
            class="py-2.5 sm:py-3 px-4 block w-full border-gray-200 border rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            placeholder="Task subtitle"
          />
        </div>
        <div class="space-y-3">
          <textarea
            name="description"
            aria-describedby="description"
            formControlName="description"
            class="py-2 px-3 sm:py-3 sm:px-4 block w-full border-gray-200 border rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            rows="3"
            placeholder="Task description"
          ></textarea>
        </div>
        <div class="space-y-3">
          <app-priority-selector #prioritySelector />
        </div>
        <div class="space-y-3">
          <label for="file-input" class="sr-only">Choose file</label>
          <input
            formControlName="attachment"
            type="file"
            name="attachment"
            (change)="onFileChange($event)"
            class="block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 file:bg-gray-50 file:border-0 file:me-4 file:py-3 file:px-4 dark:file:bg-neutral-700 dark:file:text-neutral-400"
          />
        </div>
      </form>
      <div
        class="flex justify-end items-center gap-x-2 py-3 px-4 border-t border-gray-200 dark:border-neutral-700"
      >
        <app-my-button
          [buttonTypology]="ButtonTypologyEnum.TEXT_ONLY"
          [buttonColor]="ButtonColorEnum.BLUE"
          [text]="'Add task'"
          (onClick$)="addTask()"
        ></app-my-button>
      </div>
    </div>
  </div>
</div>
