<!-- Navigation Toggle -->
<div class="lg:hidden py-16 text-center">
  <button
    type="button"
    class="py-2 px-3 inline-flex justify-center items-center gap-x-2 text-start bg-gray-800 border border-gray-800 text-white text-sm font-medium rounded-lg shadow-2xs align-middle hover:bg-gray-950 focus:outline-hidden focus:bg-gray-900 dark:bg-white dark:text-neutral-800 dark:hover:bg-neutral-200 dark:focus:bg-neutral-200"
    aria-haspopup="dialog"
    aria-expanded="false"
    aria-controls="hs-sidebar-basic-usage"
    aria-label="Toggle navigation"
    data-hs-overlay="#hs-sidebar-basic-usage"
  >
    Open
  </button>
</div>
<!-- End Navigation Toggle -->

<!-- Sidebar -->
<div
  id="hs-sidebar-basic-usage"
  class="hs-overlay [--auto-close:lg] lg:block lg:translate-x-0 lg:end-auto lg:bottom-0 w-64 hs-overlay-open:translate-x-0 -translate-x-full transition-all duration-300 transform h-full hidden fixed top-0 start-0 bottom-0 z-60 bg-white border-e border-gray-200 dark:bg-neutral-800 dark:border-neutral-700"
  role="dialog"
  tabindex="-1"
  aria-label="Sidebar"
>
  <div class="relative flex flex-col h-full max-h-full">
    <!-- Header -->
    <header class="p-4 flex justify-between items-center gap-x-2">
      <a
        class="flex-none font-semibold text-xl text-black focus:outline-hidden focus:opacity-80 dark:text-white"
        href="#"
        aria-label="Brand"
        >Task manager</a
      >

      <div class="lg:hidden -me-2">
        <!-- Close Button -->
        <button
          type="button"
          class="flex justify-center items-center gap-x-3 size-6 bg-white border border-gray-200 text-sm text-gray-600 hover:bg-gray-100 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-100 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
          data-hs-overlay="#hs-sidebar-basic-usage"
        >
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18" />
            <path d="m6 6 12 12" />
          </svg>
          <span class="sr-only">Close</span>
        </button>
        <!-- End Close Button -->
      </div>
    </header>
    <!-- End Header -->

    <!-- Body -->
    <nav
      class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
    >
      <div class="pb-0 px-2 w-full flex flex-col flex-wrap">
        <ul class="space-y-1">
          <li
            *ngFor="let tab of tabs; index as i"
            class="hs-dropdown [--trigger:contextmenu]"
          >
            <a
              class="flex cursor-pointer items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-hidden dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:text-white"
              [ngClass]="{ 'bg-gray-100 dark:bg-neutral-700': tab.isActive }"
              (click)="onTabClick(i)"
            >
              <lucide-angular
                [img]="tab.isCompleted ? CompletedIcon : GridIcon"
                [size]="16"
              ></lucide-angular>
              {{ tab.title }}
              <!-- TODO add task counter (need DB) -->
              <span
                *ngIf="false"
                class="ms-auto py-0.5 px-1.5 inline-flex items-center gap-x-1.5 text-xs bg-gray-200 text-gray-800 rounded-full dark:bg-neutral-600 dark:text-neutral-200"
                >New</span
              >
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="flex justify-between p-4">
      <app-my-button
        [buttonTypology]="ButtonTypologyEnum.ICON_ONLY"
        [icon]="AddTabIcon"
        [tooltip]="'Add new tab'"
        (onClick$)="addTab()"
      />

      <app-my-button
        *ngIf="tabs.length > 0"
        [buttonTypology]="ButtonTypologyEnum.ICON_ONLY"
        [icon]="DeleteTabIcon"
        [tooltip]="'Delete this tab'"
        (onClick$)="deleteTab()"
      />

      <app-my-button
        [buttonTypology]="ButtonTypologyEnum.ICON_ONLY"
        [icon]="themeService.isDarkMode() ? SunIcon : MoonIcon"
        [tooltip]="themeService.isDarkMode() ? 'Light mode' : 'Dark mode'"
        (onClick$)="toggleDarkMode()"
      />
    </div>
    <!-- End Body -->
  </div>
</div>
<!-- End Sidebar -->

<app-add-tab-modal />
