<div
  class="ml-[16rem] p-4 bg-white dark:bg-neutral-800 h-screen overflow-y-auto"
>
  <div class="flex justify-between items-center mb-3">
    <h1 class="text-2xl font-bold text-gray-800 dark:text-white">
      {{ selectedTab ? selectedTab!.title : "No tab selected" }}
    </h1>
    <div class="flex gap-x-3">
      <app-my-button
        [buttonTypology]="ButtonTypologyEnum.ICON_AND_TEXT"
        [text]="'Order by priority'"
        [icon]="
          selectedTab?.isOrderByPriority === true
            ? SelectedIcon
            : NotSelectedIcon
        "
        [disabled]="!selectedTab"
        (onClick$)="orderByPriority()"
      />
      <app-my-button
        [buttonTypology]="ButtonTypologyEnum.ICON_AND_TEXT"
        [text]="'Add new task'"
        [icon]="AddTaskIcon"
        [disabled]="!selectedTab"
        (onClick$)="openAddTaskModal()"
      />
    </div>
  </div>

  <div *ngIf="tasks.length > 0" class="grid grid-cols-2 gap-4">
    <app-task-card
      *ngFor="let task of tasks"
      [task]="task"
      (openTaskModalEmitter)="openTaskModal()"
    />
  </div>

  <ng-template #noTasksTemplate>
    <div class="illustration">
      <img
        [src]="
          themeService.isDarkMode() ? 'no-tasks-dark.svg' : 'no-tasks-light.svg'
        "
        alt="no-tasks"
        height="400"
        width="400"
      />
      <h1 class="mt-6 text-2xl dark:text-white">No tasks!</h1>
    </div>
  </ng-template>

  <!--  <button
    type="button"
    class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
    aria-haspopup="dialog"
    aria-expanded="false"
    aria-controls="task-modal"
    data-hs-overlay="#task-modal"
  >
    Vertically centered modal
  </button>-->
</div>

<app-task-modal />

<app-add-task-modal #addTaskModal />
